<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag("ninja-tester.png") %>
      <p id="catchline"><i>Time to upload your slide UxSan</i></p>
    </div>

    <%= simple_form_for [@project, @slide] do |f| %>

  <div class=" col-xs-8 ">
    <h1 class="text-center">ADD A SLIDE TO YOUR PROJECT</h1>
    <%= f.input :name, label: "Give a cool name to your slide", placeholder: "slide name" %>
    <%= f.input :description, placeholder: "slide description" %>

    <%= f.input :slide_type, placeholder: "type de slide"  %>
    <%= f.file_field :picture %><br />
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
</div>

<% end %>

