<%= simple_form_for @project do |f| %>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
  <%= image_tag("ninja-tester.png") %>
  <p id="catchline"><i>Follow the path of the ninja tester young apprentice</i></p>
</div>
      <div class=" col-xs-8 ">
        <h1 class="text-center">CREATE YOUR NEW PROJECT</h1>
        <%= f.input :name, label: "Choose a great name for your project !" %>
        <%= f.input :description, label: "Give a short and precise description" %>
        <%= f.input :url, placeholder: "Type the link to your website"%>
        <%= f.input :public, placeholder: "public or private" %>
        <%= f.button :submit, class: "btn-success" %>

      </div>
    </div>
</div>
<% end %>